.table1	{
color: white;
background-image: url('../images/mosque.jpg')
}

#pattern-style-b {
background:url("../images/1334.png") repeat scroll 0 0 transparent;
border-collapse:collapse;
font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
font-size:12px;
/*margin-top:20px;*/
text-align:left;
width:100%;
}

#pattern-style-b {
border-collapse:collapse;
font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
font-size:12px;
text-align:left;
}

#pattern-style-b thead tr {
background:url("../images/1334.png") repeat scroll 0 0 transparent;
color:#fff;
}

#pattern-style-b td {
border-bottom:1px solid #FFFFFF;
border-top:1px solid transparent;
color:#666699;
padding:8px;
font-weight:bold;
}